<%include ../include/header.html%>
<style>
    body{
        height: 400px;
        width: 100%;
        background: url("/images/login-bg.jpg") no-repeat center center;
        background-size:cover;
    }
    .form-control {
        height: 40px;
        background-color: rgba(255,255,255,.2);
        border:0;
        outline: none;
    }
    .input-group-addon{
        background-color: rgba(255,255,255,.2);
        border:0;
        color: rgba(255,255,255,.8);
    }
    .input-group img{
        width: 100%;
    }
</style>
<form class="form-horizontal" action="/user/reg" method="post">
    <div class="form-group" style="padding-top: 40px">
        <div class="col-sm-offset-4 col-sm-4 input-group" >
            <img src="/images/word.png">
        </div>
    </div>
    <div class="form-group" style="padding-top: 60px">
        <label for="username" class="col-sm-2 control-label"></label>
        <div class="col-sm-offset-4 col-sm-4 input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
            <input type="text" class="form-control" id="username" placeholder="用户名" name="username">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label"></label>
        <div class="col-sm-offset-4 col-sm-4 input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-eye-open"></span></div>
            <input type="password" class="form-control" id="password" placeholder="密码" name="password">
        </div>
    </div>
    <div class="form-group">
        <label for="repassword" class="col-sm-2 control-label"></label>
        <div class="col-sm-offset-4 col-sm-4 input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-eye-open"></span></div>
            <input type="password" class="form-control" id="repassword" placeholder="重复密码" name="repassword">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label"></label>
        <div class="col-sm-offset-4 col-sm-4 input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
            <input type="email" class="form-control" id="email" placeholder="邮箱" name="email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4 input-group" style="padding-left: 0">
            <button type="submit" class="col-sm-12 btn btn-danger"> 注册 </button>
        </div>
    </div>
</form>
<%include ../include/footer.html%>