<%include ../include/header.html%>
<div style="margin: 0 auto; width: 84%"><h3><%=title%></h3></div>
<div class="article-list">
<%articles.forEach(function(article){%>
<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="<%=article.user.avatar%>" alt="...">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            <a href="/article/detail/<%=article._id%>">
                <%=article.title%>
            </a>
        </h4>
        <p><%-article.content%></p>
        <p>作者: <%=article.user.username%></p>
    </div>
</div>
<%})%>
</div>
<%include ../include/footer.html%>